<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${recipe.getDescription()}">Recipe</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body>
<!--<h1>Recipe</h1>-->
<div class="container">
    <!--<nav class="navbar">-->
    <!--<h1>My Recipes</h1>-->
    <!--</nav>-->
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">My recipes</span>
    </nav>
    <br>
    <div class="whitefont">
        <h3 th:text="${recipe.description}">Description</h3>
        <p>
            <!--Prep time <span th:text="${recipe.getPrepTime()}"</span>-->
            Prep time : <span th:text="${recipe.prepTime}">prep time</span>
            <br>
            Cook time : <span th:text="${recipe.cookTime}">cook time</span>
            <br>
            Difficulty : <span th:text="${recipe.difficulty}">cook time</span>
        </p>
        <a th:href="image">
            <img src="../../images/guacamole-foto-heroe.jpg" th:src= "@{'/recipe/' + ${recipe.id} + '/recipeimage'}" class="img-thumbnail" alt="Responsive image">
        </a>
        <h4>Ingredients(<a href="ingredients/">Edit</a>)</h4>
        <ul>
            <li th:each="ingredient1:${recipe.ingredients}" th:text="${ingredient1.description}">Ingredient</li>
        </ul>
        <h4>Directions</h4>
        <p th:text="${recipe.directions}">Directions</p>
        <h4>Notes</h4>
        <p th:text="${recipe.notes}">Notes</p>
        <hr>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
</body>
</html>